#propulsado-proyecto {
  background: $primary;
  padding: 6rem 0;
  color: #fff;

  .empresas-logo {
    img {
      width: 150px;
    }
  }
}

.splide__pagination {
  bottom: -1.5rem;
}

.splide__pagination__page {
  &.is-active {
    background: #f05;
  }
}
