header#inicio
  div.promesa
    i.imagina.animate__animated ¡Tú lo imaginas, nosotros lo hacemos realidad!  Pide tu cotización ahora
    
    h2.animate__animated CONSTRUIMOS TU MUNDO DIGITAL

    p.animate__animated Cientos de empresas en Perú y en todo el mundo están ganando tiempo y tranquilidad con Panic Flash Interactive. Es el momento de contar con un diseño web adaptable a móviles y tabletas, proporcionando a tus usuarios una experiencia óptima y fluida.
    
    a.boton.animate__animated(href="#contacto") Contáctanos